<div class="box box_view_auth auth-password">
	<form class="form" name="passwordForm" role="form" novalidate ng-submit="password.submit()">
		<div class="box-header auth-password__header">
			<a class="auth-password__hide auth-password__link" ui-sref="^.login" ng-hide="password.loading">
				<i class="fa fa-times"></i>
			</a>
			<h3 class="box-title" ng-hide="password.loading">Восстановление пароля</h3>
			<h3 class="box-title" ng-show="password.loading">
				<i class="fa fa-refresh fa-spin"></i>&nbsp;&nbsp;Обработка запроса...
			</h3>
			<div class="auth-password__descr">
				Укажите адрес электронной почты.<br/>На этот адрес мы вышлем новый пароль для авторзации.
			</div>
		</div>
		<div class="box-body auth-password__body">

			<div class="form-group auth-password__row" ng-class="{'has-error': password.loginError}">
				<input class="form-control" type="text" id="email" placeholder="Ваш логин"
					   ng-model="password.login"
					   ng-required="true"
					   ng-disabled="password.loading">
				<span class="help-block">{{password.loginMessage}}</span>
			</div>

		</div>
		<div class="box-footer auth-password__footer">
			<button class="btn btn-primary btn-block btn-lg bg-orange auth-password__button"
					type="submit"
					ng-disabled="password.loading">Отправить
			</button>
		</div>
	</form>
</div>
