.auth-password {
    font-size: 14px;
    line-height: 1.42;
    margin: 0 auto;
    text-align: left;
    width: 350px;
    position: relative;
}

.auth-password .auth-password__header {
    padding: 40px 20px 0;
    text-align: center;
}

.auth-password .auth-password__footer {
    padding: 0 20px 40px;
}

.auth-password__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}

.auth-password__descr {
    margin: 20px 0;
}

.auth-password__row {
    margin: 0 0 20px;
}

.auth-password__button {
    font-size: 14px;
}

.auth-password__hide {
    display: block;
    position: absolute;
    padding: 4px;
    top: 2px;
    right: 4px;
}

.auth-password__link {
    color: rgba(255, 255, 255, .6);
    font-size: 14px;
    text-decoration: none;
}

.auth-password__link:hover,
.auth-password__link:active,
.auth-password__link:focus {
    color: rgba(255, 255, 255, 1);
}
