<div class="sidebar-menu">
	<ul class="nav nav-menu sidebar-menu__nav">
		<li ui-sref-active="active"><a href="#" ui-sref="app.sidebar"><i class="fa fa-bookmark-o"></i> Главная</a></li>
		<li ui-sref-active="active"><a href="#" ui-sref="app.sidebar.plans"><i class="fa fa-table"></i> Планы</a></li>
		<li ui-sref-active="active"><a href="#" ui-sref="app.sidebar.reports"><i class="fa fa-bar-chart"></i> Отчеты</a></li>
		<li ui-sref-active="active"><a href="#" ui-sref="app.sidebar.team"><i class="fa fa-user"></i> Команда</a></li>
		<li ui-sref-active="active"><a href="#" ui-sref="app.sidebar.standards"><i class="fa fa-info-circle"></i> Стандарты</a></li>
		<li ui-sref-active="active"><a href="#" ui-sref="app.auth.logout"><i class="fa fa-sign-out"></i> Выход</a></li>
	</ul>
</div>
